body{
  font-family: sans-serif;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
video{
  width: 500px;
  height: 375px;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}
button{
  width: 150px;
  height: 30px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  background-color: #4b4b4b;
  color: #f2f2f2;
}
button:hover{
  background-color: #121212;
  transition: 0.2s;
}
.videos{
  width: 500px;
}
.right{
  margin-left: 50px;
}
#app{
  display: grid;
  grid-template-areas: 
  "header header header"
  "local remote call"
  "local remote chat";
  margin: 50px 100px;
}
#header{
  grid-area: header;
}
#local{
  grid-area: local;
  display: grid;
  grid-template-areas: 
  "localP"
  "localVideo"
  "localButtons";
  margin-right: 30px;
}
#localP{
  grid-area: localP;
}
#localVideo{
  grid-area: localVideo;
}
#localButtons{
  grid-area: localButtons;
  margin-top: 10px;
}
#localButtons button{
  width: 122px;
}
.start{
  background-color: #303030;
}
.stop{
  background-color: #6d6d6d;
}
#remote{
  grid-area: remote;
  display: grid;
  grid-template-areas: 
  "remoteP sizeButton"
  "remoteVideo remoteVideo"
  "emptyP emptyP";
  grid-gap: 0;
}
#remoteP{
  grid-area: remoteP;
  margin-top: 12px;
}
#changeSizeButton{
  grid-area: sizeButton;
  width: 200px;
  float: right;
}
#remoteVideo{
  grid-area: remoteVideo;
}
#emptyP{
  grid-area: emptyP;
}
#callFunctions{
  grid-area: call;
}
#callInput{
  height: 25px;
  width: 162px;
  margin-top: 20px;
}
.calls{
  margin-top: 5px;
  width: 170px;
}
#chat{
  grid-area: chat;
}
#messages{
  resize: none;
}