body{
  font-family: sans-serif;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
video{
  width: 29vw;
  height: 43vh;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}
button{
  height: 3vh;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  color: #f2f2f2;
}
button:enabled{
  background-color: #303030;
}
button:disabled{
  background-color: #888888;
}
button:hover:enabled{
  background-color: #121212;
  transition: 0.2s;
}
#app{
  display: grid;
  grid-template-areas: 
  "header header"
  "videos call"
  "videos chat";
  margin: 5vh 5vw;
}
#header{
  grid-area: header;
}
.videos{
  grid-area: videos;
  display: grid;
  width: 60vw;
}
.normal{
  grid-template-areas: 
  "local remote";
}
.big{
  grid-template-areas: none;
}
#local{
  grid-area: local;
  display: grid;
  grid-template-areas: 
  "localVideo"
  "localButtons";
  margin-right: 4vw;
  z-index: 1;
}
#localVideo{
  grid-area: localVideo;
  margin-top: 7vh;
}
#localButtons{
  grid-area: localButtons;
  margin-top: 1vh;
}
#localButtons button{
  width: 7.1vw;
}
#remote{
  grid-area: remote;
  display: grid;
  grid-template-areas: 
  "sizeButton fullscreen"
  "remoteVideo remoteVideo";
  grid-gap: 0;
}
#changeSizeButton{
  grid-area: sizeButton;
  width: 12vw;
  z-index: 1;
}
#fullscreenButton{
  grid-area: fullscreen;
  width: 8vw;
  margin-right: 21.8vw;
  z-index: 1;
}
#remoteVideo{
  grid-area: remoteVideo;
  z-index: 0;
}
.right{
  width: 10vw;
}
#callFunctions{
  grid-area: call;
}
#callInput{
  height: 25px;
  width: 162px;
  margin-top: 20px;
}
.calls{
  margin-top: 5px;
  width: 8.9vw;
}
#chat{
  grid-area: chat;
}
#messages{
  resize: none;
  height: 22vh;
  width: 13vw;
  margin-top: 50px;
  font-family: sans-serif;
}
#messageInput{
  height: 25px;
  width: 12.9vw;
}
#chatButton{
  margin-top: 5px;
  width: 13.4vw;
}